:root {
	--bg:#000;
	--fg:#c0c0c0;
}

body {
	background-color:var(--bg);
	color:var(--fg);
	font:12pt"Cascadia\20\43ode",monospace;
	tab-size:4;
}

*{font:inherit;margin:0;cursor:default}

body>*:not(.inverse,.inverse *){color:var(--fg);}

.inverse { /* i mean it. */
	color:var(--bg)!important;
	background-color: var(--fg);
}

.bold {
	font-weight:bold!important;
}